package main

import "net/http"

type CVJob struct {
	JobID   int      `json:"jobId"`
	Bullets []string `json:"bullets"`
}

type CVEducation struct {
	EducationID int      `json:"educationId"`
	Bullets     []string `json:"bullets"`
}

type CVSkillCategory struct {
	SkillCategoryID int      `json:"skillCategoryId"`
	Skills          []string `json:"skills"`
}

type CV struct {
	ID      int    `json:"id"`
	Name    string `json:"name"`
	Summary string `json:"summary"`

	Jobs       []CVJob       `json:"jobs"`
	Educations []CVEducation `json:"educations"`

	Skills []CVSkillCategory `json:"skills"`
}

templ cv() {
	<nav>
		<a href="/cvs">Back</a>
		<a href="/">Home</a>
	</nav>
	<main>
		<h1>
			<span>CV</span>
		</h1>
	</main>
}

func handleCV(w http.ResponseWriter, r *http.Request) {
	page("CV", cv()).Render(r.Context(), w)
}

func init() {
	http.HandleFunc("GET /cv", handleCV)
}
