package main

import (
	"net/http"
	"strconv"
)

var cvs []CV

templ cvEditLink(cv CV) {
	<div>
		<span>{ cv.Name }</span>
		<a href={ "/cv/" + strconv.Itoa(cv.ID) }>[Edit]</a>
	</div>
}

templ cvList() {
	for _, cv := range cvs {
		@cvEditLink(cv)
	}
}

func handleCVS(w http.ResponseWriter, r *http.Request) {
	page("CVS", CVS()).Render(r.Context(), w)
}

templ CVAddLink() {
	<a href="/cv">[Add]</a>
}

templ CVS() {
	<nav>
		<a href="/">Profile</a>
	</nav>
	<main>
		<h1>
			<span>CVS</span>
			 
			@CVAddLink()
			 
		</h1>
		@cvList()
	</main>
}

func init() {
	http.HandleFunc("GET /cvs", handleCVS)
}