package main

import "net/http"

templ home() {
	<h1>Home</h1>
	<nav>
		@userNameEditLink()
	</nav>
}

func handleHome(w http.ResponseWriter, r *http.Request) {
	page("Home", home()).Render(r.Context(), w)
}

func init() {
    http.HandleFunc("/", handleHome)
}