package main

import "net/http"

templ home() {
	<h1>Home</h1>
    <main>
		@userNameEditLink()
        @professionEditLink()
        @linkedinEditLink()
      
        @emailEditLink()
        @gitEditLink()
        <p>jobs</p>
        <p>education</p>
        <p>skills</p>
        <p>projects</p>
	</main>
}

func handleHome(w http.ResponseWriter, r *http.Request) {
	page("Home", home()).Render(r.Context(), w)
}

func init() {
    http.HandleFunc("GET /{$}", handleHome)
}