package main

templ page(title string, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="color-scheme" content="dark light"/>
			<title>{ title }</title>
		
            <link rel="stylesheet" href="/static/style.css">
		</head>
		<body>
			@content
		</body>
	</html>
}
