package main

import "net/http"

templ home() {
	<nav>
	<a href="/cvs">CVS</a>
	</nav>
	<h1>Profile</h1>
	<main>
		<h2>Contact</h2>
		@userNameEditLink()
		@professionEditLink()
		@linkedinEditLink()
		@emailEditLink()
		@gitEditLink()
		<h2>
			<span>Jobs</span>
			<span>
				@JobAddLink()
			</span>
		</h2>
		@jobList()
		<h2>
			<span>Education</span>
			<span>
				@EducationAddLink()
			</span>
		</h2>
		@educationList()
		<h2>
			<span>Skills</span>
			<span>
				@SkillCategoryAddLink()
			</span>
		</h2>
		@skillCategoryList()
		<h2>Projects</h2>
		<p>..</p>
	</main>
}

func handleHome(w http.ResponseWriter, r *http.Request) {
	page("Home", home()).Render(r.Context(), w)
}

func init() {
	http.HandleFunc("GET /{$}", handleHome)
}
