package main 

import (
	"log"
	"net/http"
)

var name string = "John Doe"

func handleRequestUpdateUserName(w http.ResponseWriter, r *http.Request) {
	// check if the request method is POST
	if r.Method == http.MethodPost {
		if err := r.ParseForm(); err != nil {
			log.Printf("parse form: %v", err)
			http.Redirect(w, r, "/username-error", http.StatusBadRequest)
		}
		newName := r.FormValue("username")
		if newName != "" {
			name = newName
			// persist to a file in the future or DB
		} else {
			http.Redirect(w, r, "/username-error", http.StatusLengthRequired)
		}
		
		http.Redirect(w, r, "/username", http.StatusSeeOther)
	} else {
		log.Println("no")
	}
}

templ usernameChangeError() {
	<p>nope!</p>
}

func handleUsernameEditError(w http.ResponseWriter, r *http.Request) {
	page("Edit Username failed", usernameChangeError()).Render(r.Context(), w)
}

 


templ usernameEdit() {
	<h1>Change Name</h1>
	<form action="/username" method="post">
		<label for="username">Name</label>
		<input name="username" id="username" type="text" value={ name }/>
	</form>
}
func handleUsernameEdit(w http.ResponseWriter, r *http.Request) {
	page("Edit Username", usernameEdit()).Render(r.Context(), w)
}