package main 

import "net/http"

var name string = ""

const filename = "username.txt"

func handleRequestUpdateUserName(w http.ResponseWriter, r *http.Request) {
	if r.Method != http.MethodPost {
		w.WriteHeader(http.StatusBadRequest)
		page("Edit Username", usernameEdit(name, "Wrong Method. Need POST.")).Render(r.Context(), w)
		return

	}
	if err := r.ParseForm(); err != nil {
		w.WriteHeader(http.StatusUnprocessableEntity)
		page("Edit Username", usernameEdit(name, "Form did not give data.")).Render(r.Context(), w)
		return
	}

	newName := r.FormValue("username")
	if newName == "" {
		w.WriteHeader(http.StatusUnprocessableEntity)
		page("Edit Username", usernameEdit("", "Name is required.")).Render(r.Context(), w)
		return
	}

	name = newName
	// persist to a file in the future or DB
	writeString(filename, newName)
	http.Redirect(w, r, "/", http.StatusSeeOther)
}

templ usernameChangeError() {
	<p>nope!</p>
}

func handleUsernameEditError(w http.ResponseWriter, r *http.Request) {
	page("Edit Username failed", usernameChangeError()).Render(r.Context(), w)
}

templ usernameEdit(value string, err string) {
	<form action="/username" method="post">
		<label for="username"><h1>Change Name?</h1></label>
		<input name="username" id="username" type="text" value={ name } required/>
		<button type="submit">Update</button>
	</form>
	if err != "" {
		<p role="alert">{ err }</p>
	}
	<a href="/">Cancel</a>
}

func handleUsernameEdit(w http.ResponseWriter, r *http.Request) {
	page("Edit Username", usernameEdit(name, "")).Render(r.Context(), w)
}

templ userNameEditLink() {
	<div>
		<span>Username: { name }</span>
		<a href="/username">[Edit]</a>
	</div>
}

func init() {
	saved, err := readString(filename)
	if err == nil {
		name = saved
	}

	http.HandleFunc("GET /username", handleUsernameEdit)
	http.HandleFunc("/username-error", handleUsernameEditError)
	http.HandleFunc("POST /username", handleRequestUpdateUserName)
}
