@view-transition { navigation: auto; }
 
body {
    border: 1ch solid linktext;
    font-family: monospace;
    width: min(75ch, 70%); 
    margin: 2rem auto;
    padding: 2rem;
}

label { cursor: pointer; }

button {
    background-color: linktext;
    border: solid linktext;    
    cursor:pointer;  
}

button:hover { border: solid canvastext; }

a { text-decoration: none; }

a:hover {
    color: canvastext;
    text-decoration: underline;
}